@import "reset-min.css";
form {
position:relative;
height:auto;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
padding:10px;
font-size:16px;
background-color:azure;
border-radius:7px #333333 !important;
}
.faillur_message_header {
font-size:18px;
font-weight:bold;
margin-bottom:5px;
color:black;
}
#loaderimage {
margin-left:5px;
padding-top:6px;
}
.rounded {
border-radius:7px;
}
input.error {
border:1px solid red;
}
.bold {
font-weight:bold !important;
}
.colorwhite {
color:white !important;
}
.colored {
color:red !important;
}
required{
 color:red !important;
 font-weight:bold !important;   
}
.error {
background:#ffecec url(../img/notif/error.png) no-repeat 10px 50%;
border:1px solid #f5aca6;
}
.successes {
background:#e9ffd9 url(../img/notif/success.png) no-repeat 10px 50%;
border:1px solid #a6ca8a;
}
.warning {
background:#fff8c4 url(../img/notif/warning.png) no-repeat 10px 50%;
border:1px solid #f2c779;
}
.notice {
background:#e3f7fc url(../img/notif/notice.png) no-repeat 10px 50%;
border:1px solid #8ed9f6;
}
.error_box {
  background-color: #FFFFCC;
  border: 1px solid #DC143C;
  color: #DC143C;
  margin: 0 auto;
  overflow: auto;
  padding: 5px;
  position: relative;
  text-align: left;
  width: 90%;
  z-index: 5;
}
 